<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> <a href="mailto:mdabbashn@gmail.com.com"><span>Mohammed Abbas Hussain</span></a></p>
<%- include("partials/footer"); -%>
